[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CombinS"]
	path = CombinS
	url = https://github.com/mlaib/combins
[submodule "FiSh"]
	path = FiSh
	url = https://github.com/cran/FiSh
[submodule "MFDFA"]
	path = MFDFA
	url = https://github.com/mlaib/mfdfa
[submodule "PGM2"]
	path = PGM2
	url = https://github.com/mlaib/pgm2
[submodule "SFtools"]
	path = SFtools
	url = https://github.com/mlaib/sftools
